.footer {
  background: linear-gradient(to right, #1a1a1a, #333);
  color: white;
  font-family: "Poppins", sans-serif;
}

.footer-link {
  color: #ffc107;
  text-decoration: none;
  transition: 0.3s;
}

.footer-link:hover {
  text-decoration: underline;
  color: #fff;
}

.footer-icon {
  color: #ffc107;
  font-size: 1.2rem;
  transition: 0.3s;
}

.footer-icon:hover {
  color: #fff;
}

.footer p {
  margin-bottom: 6px;
}
